<key>NSCameraUsageDescription</key>
<string>This app needs access to camera to take profile pictures</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>This app needs access to photo library to select profile pictures</string>
<key>NSPhotoLibraryAddUsageDescription</key>
<string>This app needs access to save photos</string>